body{
    margin: 0;
    background-image: url('../image/pattern.jpg');
}
img{
    width: 130px;
    height: 75px;
}

header{
    background-color: whitesmoke;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

a{
    text-decoration: none;
}

li{
    display: inline;
    margin-right: 15px;
}

main{
    background-color: aliceblue;
    margin: 120px 200px 90px;
    border-right: 4px solid lightblue;
    border-left: 4px solid lightblue;
    border-radius: 30px;
    padding: 50px;
}

article{
    border-bottom: 2px solid gray;
    margin-bottom: 10px;
}

h1{
    text-align: center;
}

footer{
    background-color: black;
}

p.penutup{
    color: lightsalmon;
    text-align: center;
    border-radius: 30px;
    padding: 20px;
}
